#Dictionary

In [3]:
#Dictionary is a mutable data type in python.
#Dictionary is a collection of key and value pairs separated by(:)& enclosed by {}
#In dictionary keys must have unique but duplicate values are aloowed.
#key has more priority the values
#Dictionary is defined with the {}.
#Syntax -> dict={key:value}
#Ordered-> it maintain the order in which they are added
#we use keys insted of index.
# The keys must be immutable values(string,int,tuple)
# But the values in dict can be of any data type even list or otheer dictionary.

Methods on dictionary

In [ ]:
#.keys() -> is used to get all the keys of the dictionary
#.values() -> is used to get all the values of the dictionary
#.items() -> it returns all the key and value pairs of the dictionary
#.get() -> it is a method used to access the element by keys.
#dict_name[key] -> it is also used to access the elemet by key.
#======> Dictionary operations <=======
#Add ->
#Remove ->
#Change ->

In [2]:
d={} #empty dictionary

In [7]:
type(d)

dict

In [4]:
d1={1:'one',2:'two',3:'three',4:'four'} # dictionary with integer keys
d1

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [6]:
d2={'one':1,'two':2,'three':3,'four':4} #dictionary with string
d2

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [8]:
#create a dictionary using dict()
my_dict=dict({1:'one',2:'two',3:'three'})
my_dict

{1: 'one', 2: 'two', 3: 'three'}

In [12]:
#Dictonary with character keys and values
dict1={'a':'one','b':'two','c':'three'}
dict1

{'a': 'one', 'b': 'two', 'c': 'three'}

In [16]:
#Dictionary with mixed keys
dict2={1:'one','b':'two',1+2j:'three'}
dict2

{1: 'one', 'b': 'two', (1+2j): 'three'}

In [18]:
#.keys() is method that returns all the keys of the dictionary
#Syntax -> dict.keys()
dict2.keys()

dict_keys([1, 'b', (1+2j)])

In [20]:
# .values() is a method that returns all the values of the dictioinary
# Syntax -> dict.values()
dict2.values()

dict_values(['one', 'two', 'three'])

In [13]:
d2.keys()

dict_keys(['one', 'two', 'three', 'four'])

In [15]:
d2.values()

dict_values([1, 2, 3, 4])

In [22]:
#.items() is method in dictionary used to access the each key-value pairs in a dictionary
d2.items()

dict_items([('one', 1), ('two', 2), ('three', 3), ('four', 4)])

In [24]:
#len(dict) is function that  used to return the numbers of item exist in the dictionary
len(d2)

4

In [26]:
#dictionary with list values
list_dict={1:'one',2:'two',3:[1,2,3,4,5]}
list_dict

{1: 'one', 2: 'two', 3: [1, 2, 3, 4, 5]}

In [34]:
# Dictionary with all the value 
mixed_dict={1:1,2:'a','c':'three',1+2j:'four',4:[1,2,3,4,'a'],'five':('a','b','c'),6:{'name':'sisir','age':21}}
mixed_dict

{1: 1,
 2: 'a',
 'c': 'three',
 (1+2j): 'four',
 4: [1, 2, 3, 4, 'a'],
 'five': ('a', 'b', 'c'),
 6: {'name': 'sisir', 'age': 21}}

In [38]:
# Create a Dictionary from sequence of keys
key_seq={'a','b','c','d'}
dict4=dict.fromkeys(key_seq)
dict4

{'a': None, 'c': None, 'd': None, 'b': None}

In [48]:
# Create a dictionary from sequence of value and keys
val=[1,2,3,4]
dict4=dict.fromkeys(key_seq,val)
dict4

{'a': [1, 2, 3, 4], 'c': [1, 2, 3, 4], 'd': [1, 2, 3, 4], 'b': [1, 2, 3, 4]}

In [50]:
val.append(5) # add a value in the value list
dict4

{'a': [1, 2, 3, 4, 5],
 'c': [1, 2, 3, 4, 5],
 'd': [1, 2, 3, 4, 5],
 'b': [1, 2, 3, 4, 5]}

In [58]:
#Accessing items 
dict3= mixed_dict.copy()
dict3

{1: 1,
 2: 'a',
 'c': 'three',
 (1+2j): 'four',
 4: [1, 2, 3, 4, 'a'],
 'five': ('a', 'b', 'c'),
 6: {'name': 'sisir', 'age': 21}}

In [60]:
#Accessing items through keys
#Syntax -> dict_name[key]
dict3[6]

{'name': 'sisir', 'age': 21}

In [62]:
#.get() is a method is used to access the element within the dictionary
# Syntax -> dict_name(key)
dict3.get('five')

('a', 'b', 'c')

#Dictionary Operations
Add, Remove & Change items

In [65]:
dict3

{1: 1,
 2: 'a',
 'c': 'three',
 (1+2j): 'four',
 4: [1, 2, 3, 4, 'a'],
 'five': ('a', 'b', 'c'),
 6: {'name': 'sisir', 'age': 21}}

In [67]:
#Adding element in dictionary in dictionary
#Syntax -> dict_name[key]=value
dict5={'NAME':'alex','ID':12345,'DOB':2000,'ADDRESS':'hyd'}

In [69]:
dict5

{'NAME': 'alex', 'ID': 12345, 'DOB': 2000, 'ADDRESS': 'hyd'}

In [71]:
dict5['JOB']='Data Scientiest'
dict5

{'NAME': 'alex',
 'ID': 12345,
 'DOB': 2000,
 'ADDRESS': 'hyd',
 'JOB': 'Data Scientiest'}

In [75]:
#Remove element form dictionary
#Syntax-> dict_name.pop(element) -> it removes a specified element from dictionary
#Syntax -> dict_name.popitem() -> it removes a random element from the dictionary
print(dict5)
dict5.pop('JOB')
dict5

{'NAME': 'alex', 'ID': 12345, 'DOB': 2000, 'ADDRESS': 'hyd', 'JOB': 'Data Scientiest'}

{'NAME': 'alex', 'ID': 12345, 'DOB': 2000, 'ADDRESS': 'hyd'}

In [77]:
dict5.popitem()

('ADDRESS', 'hyd')

In [79]:
#Chnage & Update items
#We can change/update values of dictionary
#Syntax -> dict_name[key]=value
dict5['ADDRESS']='Odisha'

In [81]:
dict5

{'NAME': 'alex', 'ID': 12345, 'DOB': 2000, 'ADDRESS': 'Odisha'}

In [85]:
#update is 
dict6={'DOB':2001,'JOB':'Data Scientist'}
dict5.update(dict6)
dict5

{'NAME': 'alex',
 'ID': 12345,
 'DOB': 2001,
 'ADDRESS': 'Odisha',
 'JOB': 'Data Scientist'}

In [87]:
#Clear() -> clears the all the items of the dictionary 
print(dict5)
dict5.clear()
dict5

{'NAME': 'alex', 'ID': 12345, 'DOB': 2001, 'ADDRESS': 'Odisha', 'JOB': 'Data Scientist'}

{}

In [89]:
#del dict_name -> delete the dictionary object
del dict5
dict5

NameError: name 'dict5' is not defined

In [91]:
#Copy Dictionary
# Copy Dictionary create a copy of the dictionary
dict6

{'DOB': 2001, 'JOB': 'Data Scientist'}

In [93]:
dict7=dict6 # create a new reference dict7

In [95]:
id(dict7)==id(dict6)

True

In [101]:
dict7c=dict6.copy() # create a copy of the dictionary but the adress of dictionaries are different

In [105]:

dict6['ADDRESS']='hyd'
dict6

{'DOB': 2001, 'JOB': 'Data Scientist', 'ADDRESS': 'hyd'}

In [109]:
dict7 # the copied dictionary is impacted as it is pointing to the same dictionary

{'DOB': 2001, 'JOB': 'Data Scientist', 'ADDRESS': 'hyd'}

In [111]:
dict7c # if we created a copy of dictionary using copy() it won't be impacted

{'DOB': 2001, 'JOB': 'Data Scientist'}

#LOOP through a dictionary

In [118]:
mydict={'NAME':'alex','ID':12345,'DOB':2000,'ADDRESS':'hyd'}
mydict

{'NAME': 'alex', 'ID': 12345, 'DOB': 2000, 'ADDRESS': 'hyd'}

In [120]:
for i in mydict:
    print(i,':',mydict[i]) # it print key & value pair

NAME : alex
ID : 12345
DOB : 2000
ADDRESS : hyd

In [122]:
mydict['JOB']='Data Scientist'

In [127]:
for i in mydict:
    print(mydict[i]) # it prints all the values of dictionary

alex
12345
2000
hyd
Data Scientist

#Dictionary Membership

In [129]:
mydict

{'NAME': 'alex',
 'ID': 12345,
 'DOB': 2000,
 'ADDRESS': 'hyd',
 'JOB': 'Data Scientist'}

In [133]:
'NAME' in mydict #it tests if a key is in a dictionary or not

True

In [135]:
'alex' in mydict # dictionary membership only tests keys.

False

In [137]:
'ID' in mydict

True

#ALL/ANY

In [140]:
#The all() method returns-
#True-if all keys of the dictionary are true
#False- if any key of the dictionary is false
#The any() function returns True if any key of the dictionary is True. if not , any() returns False.

In [142]:
all(mydict)

True

In [144]:
any(mydict)

True