#RANGE

In [ ]:
#Range is built-in function used to generate/get a sequence of numbers.
#it is immutable 
#it supports indexing and slicing
#Syntax-> range(start,stop,step)
# it is commonly used in loops

In [8]:
range(10) # it return the range till the stop integer value

range(0, 10)

In [12]:
r=range(1,10) # it return the values from start(1) to stop(10) value

In [16]:
r1=range(1,10,2) # it return the values from start to stop with the gap of step 
r1

range(1, 10, 2)

In [18]:
list(r1)

[1, 3, 5, 7, 9]

In [20]:
list(r)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
list(range(0,100,5)) # return the values from 0-100 with the step of 5

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [26]:
range(0,10,2,3) # rang allow only three argument

TypeError: range expected at most 3 arguments, got 4

In [28]:
r

range(1, 10)

In [30]:
type(r)

range

In [32]:
for i in range(10):       # it gives numbers from 0-10 
    print(i)

0
1
2
3
4
5
6
7
8
9

In [36]:
for i in range(10,100,10):  # returns all the numbers from 0 up to 100 with step of 10
    print(i)

10
20
30
40
50
60
70
80
90

In [40]:
range(10)[3] #it supports indexing so we can return the specified indexed value

3

In [44]:
list(range(10)[2:6]) # it supports slicing it can print 2 to 6

[2, 3, 4, 5]

In [46]:
list(range(10,50,15)[:2])

[10, 25]

In [50]:
range(10,15.5) # we cannot pass float value as an argumment

TypeError: 'float' object cannot be interpreted as an integer