#Set Data Structure

In [ ]:
#Set Properties
#Set data structure defined with {}
#Set doesn't allow indexing
##Set is a unorderd collectioin of elements.
# Slicig is not allowed in set.
# set cannot contain duplicate elements.
# Set doesn't allow indexing.
# Set can be created by using int,float,string,tuple,bool
# Set cannot be defined with list,dict
# Set is mutable in it we can add and remove object but the element value we cant change
#======> Set Operation <=======
# set.add(val) -> add an element to set but we can only pass one parameter
# set.pop() -> it is a function that remove and return a random element of a set.
# set.remove(val) -> remove function is used to remove a element from a set but it must be present in the set other wise it rises error.
# set.discard(val) -> discard function used to remove a element form a set if it present , it cann't rise error if the element is not present in the set.
# set.union()/ set1|set2 -> unioin it returns all the element of two sets

In [2]:
s={} 
type(s)

dict

In [4]:
s=set() # defines a  empty set 
type(s)

set

In [8]:
#Add function
s.add(20)
s.add(10)
s.add(100)
s.add(25)

In [10]:
s

{10, 20, 25, 100}

In [12]:
# set with mixed data types
s1=set()
s1.add(10)
s1.add(9.5)
s1.add(1+2j)
s1.add(True)
s1.add('nit')
s1

{(1+2j), 10, 9.5, True, 'nit'}

In [14]:
print(s)
print(s1)

{100, 25, 10, 20}
{True, (1+2j), 9.5, 10, 'nit'}

In [18]:
# set is doesn't allow indexing
s1[0]
s1[3]
s1[:]
s1[1:4]
s1[-1]

TypeError: 'set' object is not subscriptable

In [20]:
#Copy function
# Returns a shallow copy of set
#Syntax -> new_set=set.copy()
s2=s1.copy()
s2

{(1+2j), 10, 9.5, True, 'nit'}

In [22]:
s1==s2

True

In [24]:
id(s1)==id(s2)

False

In [30]:
#Pop Function
#Syntax-> set.pop()
s2 
s2.pop() # it return & removes a rendom element from set

9.5

In [28]:
s2.pop()

(1+2j)

In [32]:
#Remove Function
#Syntax-> set.remove(val) 
#Remove function is used to remove a element from a set but it must be present in the set other wise it rises error.
s3=s1.copy()
print(s3)
s3.remove('nit')
print(s3)

{True, (1+2j), 9.5, 10, 'nit'}
{True, (1+2j), 9.5, 10}

In [34]:
#Clear Function
#Clear function remove all the element and returns a empty set
#Syntax-> set_name.clear()
print(s2)
s2.clear()
print(s2)
type(s2)

{10, 'nit'}
set()

set

In [36]:
# Discard fUnction
# discard function used to remove a element form a set if it present , it cann't rise error if the element is not present in the set.
# Syntax-> set.discard(val) 
print(s3)
s3.discard(10) #Removes present value in the set
s3.discard(1000) # if the value is not present in the set doesn't rises error.
print(s3)

{True, (1+2j), 9.5, 10}
{True, (1+2j), 9.5}

In [40]:
#Set Membership
# set membership is used to find a perticular elemnet is belongs to the set or not and it return bool value
# Syntax-> element in set
s4={10,20,30,40,50}
10 in s4

True

In [42]:
60 in s4

False

In [44]:
#we can use for loop for access / itrrate elements over a sequence
for i in s4:
    print(i)

50
20
40
10
30

In [46]:
for i in enumerate(s4):
    print(i)

(0, 50)
(1, 20)
(2, 40)
(3, 10)
(4, 30)

In [48]:
#Union 
#Union returns the combined value of two different set without the duplicating the values
#Syntax-> a.union(b)    or  a|b
a={1,2,3,4,5}
b={4,5,6,7,8}
c={8,9,10}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [50]:
#or 
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [52]:
#we can perform union with multiple sets
a|b|c

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [54]:
# Difference
# Difference returns the elements of primary set without the common elements betwen primary and secondary set
# Syntax-> a.difference(b)
print(a)
print(b)
print(c)
a.difference(b)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

{1, 2, 3}

In [56]:
# here in 'a' and 'b' 4,5 is common so it returns 1,2,3 without the common elements

In [60]:
b.difference(c) # here one element '8' is common so it will return all element of b without 8

{4, 5, 6, 7}

In [64]:
c.difference(a) # Here is no common element so it will return all the element of c

{8, 9, 10}