#Tuple

In [5]:
#tuple defines with ()
t=()
t

()

In [7]:
type(t)

tuple

In [9]:
t=(10,20,30)

In [11]:
#====Properties of Tuple====
#Tuple is immuatable
#Tuple supports indexing
#Tupple defines with ()
#Tuple supports multiple data types
#Tuple allows duplicate values/arguments
#==== List has some function ====
#-> sorted()

In [13]:
t.append(40) # it is immutable(not changeable) so it causes error

AttributeError: 'tuple' object has no attribute 'append'

In [15]:
sbi=('alex',1234567890,'chip589',2000)
sbi

('alex', 1234567890, 'chip589', 2000)

In [31]:
t1=(10,20,30)

In [33]:
t1*3

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [37]:
t1.count(20)

1

In [39]:
for i in t1:
    print(i)

10
20
30

In [41]:
t1[:]

(10, 20, 30)

In [43]:
t1[1:]

(20, 30)

In [45]:
t1(:) # slicing is only work with []

SyntaxError: invalid syntax (1629676674.py, line 1)

In [47]:
t1.remove(10)

AttributeError: 'tuple' object has no attribute 'remove'

In [49]:
del t1
t1

NameError: name 't1' is not defined

#Tuple

In [52]:
tup1=() #Empty Tuple

In [54]:
tup2=(10,20,30) # tuple of integer numbers

In [56]:
tup3=(10.77,30.55,60.52)  #tuple of float numbers

In [58]:
tup4=('one','two','three') #tuple of string

In [60]:
tup5=('alex',25,(50,100),(160,90)) #nested tuples

In [62]:
tup6=(100,'alex',17.777) # tuple of mixed data types

In [64]:
tup7=('alex',25,[50,100],[160,90],{'john','david'},(999,52,36))

In [66]:
len(tup7)

6

#Tuple indexing

In [71]:
#Retrive first element of tuple
tup2[0]

10

In [75]:
#Nested indexing -access the first character of first element of the tuple
tup4[0][0]

'o'

In [79]:
#Access the last element of the tuple
tup4[-1]

'three'

In [81]:
tup7[-1]

(999, 52, 36)

#Tuple Slicing

In [86]:
tup8=('one','two','three','four','five','six','seven','eight')
tup8

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [88]:
tup8[:] # Returns aall the items

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [90]:
tup8[0:3] #Return all the items from 0 to 3rd index exc;uding the item

('one', 'two', 'three')

In [94]:
tup8[2:5] #Return items from 2 to 5 index location excluding the item

('three', 'four', 'five')

In [96]:
tup8[:3] # returns first 3 items

('one', 'two', 'three')

In [98]:
tup8[-3:] # return last 3 items

('six', 'seven', 'eight')

In [102]:
tup8[-5:-1] #return -5 to (-1-1=-2) -2

('four', 'five', 'six', 'seven')

In [106]:
tup8[-1] # return last item of the tuple

'eight'

#Remove & Change Items

In [111]:
tup8

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [113]:
#tuples are immutable  so we can't change the tuple items

In [115]:
del tup8[0] #we cant delete tuple items

TypeError: 'tuple' object doesn't support item deletion

In [117]:
tup8[0]=1

TypeError: 'tuple' object does not support item assignment

In [119]:
#Deleting entire tuple is possible
del tup8
tup8

NameError: name 'tup8' is not defined

#Loop through Tuple

In [122]:
tup8=('one','two','three','four','five','six','seven','eight')

In [126]:
for i in tup8:
    print(i)

one
two
three
four
five
six
seven
eight

In [128]:
for i in enumerate(tup8):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

#Tuple Membership

In [131]:
tup8

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [133]:
'one' in tup8 # it return true if the value is exist in the tuple

True

In [135]:
'ten' in tup8 # it return false if the value is doesn't exist in the tuple

False

In [137]:
# check if 'three' is exist in the list
if 'three' in tup8:
    print('three is present in the tuple')
else:
    print('there is not present in the tuple')

three is present in the tuple

In [139]:
# check if 'eleven' is exist in the list
if 'eleven' in tup8:
    print('eleven is present in the tuple')
else:
    print('eleven is not present in the tuple')

eleven is not present in the tuple

In [141]:
tup8.index('one')

0

In [143]:
tup8.index('five')

4

#Sorting

In [146]:
tup8

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [148]:
tup9=(43,67,89,12,6,90,67)

In [154]:
#sorted is used to sort tuples - it also by defult sort in ascending order
sorted(tup9)

[6, 12, 43, 67, 67, 89, 90]

In [156]:
#sorted(tuple,reverse=True) is used to sort the tuple in descending order
sorted(tup9,reverse=True)

[90, 89, 67, 67, 43, 12, 6]